.header
    overflow: hidden
    position: relative
    padding-top: 293px
    margin-bottom: 60px
    //padding: 13.5px
    // background: linear-gradient(192.2deg, rgba(0, 0, 0, 0) 44.62%, rgba(0, 0, 0, 0.7) 74.25%), url('../../assets/images/hand-bakcground.png')
    // background: linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 100%), url('../../assets/images/hand-bakcground.png')
    background: linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0) 75%), url('/assets/images/hand-bakcground.png')
    background-repeat: no-repeat
    &__heading
        margin-bottom: 15px
    &__list
        margin-bottom: 36px
        list-style-type: disc
    &__button
        margin-bottom: 10px

.list
    list-style-type: none
    &__item
        display: flex
        margin-bottom: 16px
        &::before
            content: ''
            display: inline-block
            width: 2.5px
            height: 2.5px
            background-color: #F4F4F1
            border-radius: 50%
            margin-top: 7px
            margin-right: 8px
